In [170]:
import sunpy.net.attrs as a
from sunpy.net import Fido
import sunpy_soar
import requests
from astroquery.utils.tap.core import TapPlus
import astropy.constants as const
import astropy.units as u
from astropy.table import Table
import pandas as pd

In [10]:
instrument = a.Instrument("EUI")
time = a.Time("2022-10-18T19:00", "2022-10-18T19:20")
level = a.Level(2)
product = a.soar.Product("EUI-FSI174-IMAGE")

result = Fido.search(instrument & time & level & product)
result

<sunpy.net.fido_factory.UnifiedResponse object at 0x15fe36660>
Results from 1 Provider:

2 Results from the SOARClient:

Instrument   Data product   Level ... Detector Wavelength
                                  ...
---------- ---------------- ----- ... -------- ----------
       EUI eui-fsi174-image    L2 ...      FSI      174.0
       EUI eui-fsi174-image    L2 ...      FSI      174.0

In [11]:
soar_end_point = 'http://soar.esac.esa.int/soar-sl-tap'

In [70]:
soar = TapPlus(url=f"{soar_end_point}/tap")

In [17]:
results = soar.launch_job("SELECT * FROM v_sc_data_item WHERE instrument='EUI' AND begin_time>='2022-04-01T00:00:00' AND end_time<='2022-05-01T00:00:00' AND is_active='True'")
results.get_results()

<Table length=367>
      begin_time                data_item_id          ... soop_name soop_type
        object                     str100             ...   str200    str200
--------------------- ------------------------------- ... --------- ---------
2022-04-07T00:00:00.0  solo_L2_mag-rtn-burst_20220407 ...                  NA
2022-04-08T00:00:00.0  solo_L2_mag-rtn-burst_20220408 ...                  NA
2022-04-17T00:00:00.0  solo_L2_mag-rtn-burst_20220417 ...                  NA
2022-04-26T00:00:00.0  solo_L2_mag-rtn-burst_20220426 ...                  NA
2022-04-01T00:00:00.0 solo_L2_mag-rtn-normal_20220401 ...                  NA
2022-04-02T00:00:00.0 solo_L2_mag-rtn-normal_20220402 ...                  NA
2022-04-05T00:00:00.0 solo_L2_mag-rtn-normal_20220405 ...                  NA
2022-04-06T00:00:00.0 solo_L2_mag-rtn-normal_20220406 ...                  NA
2022-04-17T00:00:00.0 solo_L2_mag-rtn-normal_20220417 ...                  NA
                  ...                             ... ...       ...       ...
2022-04-22T00:00:00.0  solo_L1_mag-ibs-burst_20220422 ...
2022-04-23T00:00:00.0  solo_L1_mag-ibs-burst_20220423 ...
2022-04-24T00:00:00.0  solo_L1_mag-ibs-burst_20220424 ...
2022-04-25T00:00:00.0  solo_L1_mag-ibs-burst_20220425 ...
2022-04-26T00:00:00.0  solo_L1_mag-ibs-burst_20220426 ...
2022-04-28T00:00:00.0  solo_L1_mag-ibs-burst_20220428 ...
2022-04-27T00:00:00.0  solo_L1_mag-ibs-burst_20220427 ...
2022-04-29T00:00:00.0  solo_L1_mag-ibs-burst_20220429 ...
2022-04-30T00:00:00.0  solo_L0_mag-ibs-burst_20220430 ...
2022-04-30T00:00:00.0  solo_L1_mag-ibs-burst_20220430 ...

In [18]:
tables = soar.load_tables()
for table in tables:
    print(table.get_qualified_name())

2025-02-24 10:13:27 - astroquery - INFO: Retrieving tables...

INFO: Retrieving tables... [astroquery.utils.tap.core]

2025-02-24 10:13:28 - astroquery - INFO: Parsing tables...

INFO: Parsing tables... [astroquery.utils.tap.core]

2025-02-24 10:13:29 - astroquery - INFO: Done.

INFO: Done. [astroquery.utils.tap.core]
public.dual
soar.cdf_dataset
soar.cdf_instrument_type
soar.cdf_variable
soar.configuration
soar.fits_dataset
soar.instrument
soar.leap_seconds_table
soar.mission
soar.sensor
soar.soop
soar.v_ancillary_all_files
soar.v_ancillary_file
soar.v_auxiliary_file
soar.v_calibration_all_files
soar.v_calibration_file
soar.v_cdf_dataset
soar.v_cdf_orbit_file
soar.v_cdf_plot_metadata
soar.v_cdf_variable
soar.v_efecs_item
soar.v_eui_hri_fov
soar.v_eui_ll_extension_fits
soar.v_eui_ll_fits
soar.v_eui_sc_extension_fits
soar.v_eui_sc_fits
soar.v_fecs_item
soar.v_hgab_item
soar.v_image_file
soar.v_image_item
soar.v_ior_crr_item
soar.v_ior_item
soar.v_ll_data_item
soar.v_ll_postcard_file
soar.v_ll_repository_file
soar.v_met_ll_extension_fits
soar.v_met_ll_fits
soar.v_met_sc_extension_fits
soar.v_met_sc_fits
soar.v_mib_file
soar.v_mib_item
soar.v_moc_crr_item
soar.v_phi_hrt_fov
soar.v_phi_ll_extension_fits
soar.v_phi_ll_fits
soar.v_phi_sc_extension_fits
soar.v_phi_sc_fits
soar.v_planning_file
soar.v_planning_item
soar.v_por_item
soar.v_ptel_item
soar.v_ptr_item
soar.v_public_files
soar.v_sc_data_item
soar.v_sc_postcard_file
soar.v_sc_repository_file
soar.v_shi_ll_extension_fits
soar.v_shi_ll_fits
soar.v_shi_sc_extension_fits
soar.v_shi_sc_fits
soar.v_spice_fov
soar.v_spi_ll_extension_fits
soar.v_spi_ll_fits
soar.v_spi_sc_extension_fits
soar.v_spi_sc_fits
soar.v_stx_ll_extension_fits
soar.v_stx_ll_fits
soar.v_stx_sc_extension_fits
soar.v_stx_sc_fits
soar.v_telemetry_file
soar.v_telemetry_item
soar.v_tmc_item
tap_schema.columns
tap_schema.key_columns
tap_schema.keys
tap_schema.schemas
tap_schema.tables
time_series.v_solo_anc_socorbit_0
time_series.v_solo_anc_socorbit_1
time_series.v_solo_ll02_epdeptasunrates_0
time_series.v_solo_ll02_epdeptasunrates_1
time_series.v_solo_ll02_epdeptasunrates_2
time_series.v_solo_ll02_epdeptasunrates_3
time_series.v_solo_ll02_epdeptasunrates_4
time_series.v_solo_ll02_epdeptnorthrates_0
time_series.v_solo_ll02_epdeptnorthrates_1
time_series.v_solo_ll02_epdeptnorthrates_2
time_series.v_solo_ll02_epdeptnorthrates_3
time_series.v_solo_ll02_epdeptnorthrates_4
time_series.v_solo_ll02_epdeptsouthrates_0
time_series.v_solo_ll02_epdeptsouthrates_1
time_series.v_solo_ll02_epdeptsouthrates_2
time_series.v_solo_ll02_epdeptsouthrates_3
time_series.v_solo_ll02_epdeptsouthrates_4
time_series.v_solo_ll02_epdeptsunrates_0
time_series.v_solo_ll02_epdeptsunrates_1
time_series.v_solo_ll02_epdeptsunrates_2
time_series.v_solo_ll02_epdeptsunrates_3
time_series.v_solo_ll02_epdeptsunrates_4
time_series.v_solo_ll02_epdhetasunrates_0
time_series.v_solo_ll02_epdhetasunrates_1
time_series.v_solo_ll02_epdhetasunrates_2
time_series.v_solo_ll02_epdhetasunrates_3
time_series.v_solo_ll02_epdhetasunrates_4
time_series.v_solo_ll02_epdhetasunrates_5
time_series.v_solo_ll02_epdhetasunrates_6
time_series.v_solo_ll02_epdhetasunrates_7
time_series.v_solo_ll02_epdhetasunrates_8
time_series.v_solo_ll02_epdhetnorthrates_0
time_series.v_solo_ll02_epdhetnorthrates_1
time_series.v_solo_ll02_epdhetnorthrates_2
time_series.v_solo_ll02_epdhetnorthrates_3
time_series.v_solo_ll02_epdhetnorthrates_4
time_series.v_solo_ll02_epdhetnorthrates_5
time_series.v_solo_ll02_epdhetnorthrates_6
time_series.v_solo_ll02_epdhetnorthrates_7
time_series.v_solo_ll02_epdhetnorthrates_8
time_series.v_solo_ll02_epdhetsouthrates_0
time_series.v_solo_ll02_epdhetsouthrates_1
time_series.v_solo_ll02_epdhetsouthrates_2
time_series.v_solo_ll02_epdhetsouthrates_3
time_series.v_solo_ll02_epdhetsouthrates_4
time_series.v_solo_ll02_epdhetsouthrates_5
time_series.v_solo_ll02_epdhetsouthrates_6
time_series.v_solo_ll02_epdhetsouthrates_7
time_series.v_solo_ll02_epdhetsouthrates_8
time_series.v_solo_ll02_epdhetsunrates_0
time_series.v_solo_ll02_epdhetsunrates_1
time_series.v_solo_ll02_epdhetsunrates_2
time_series.v_solo_ll02_epdhetsunrates_3
time_series.v_solo_ll02_epdhetsunrates_4
time_series.v_solo_ll02_epdhetsunrates_5
time_series.v_solo_ll02_epdhetsunrates_6
time_series.v_solo_ll02_epdhetsunrates_7
time_series.v_solo_ll02_epdhetsunrates_8
time_series.v_solo_ll02_epdsisarates_0
time_series.v_solo_ll02_epdsisbrates_0
time_series.v_solo_ll02_epdsteprates_0
time_series.v_solo_ll02_epdsteprates_1
time_series.v_solo_ll02_epdsteprates_2
time_series.v_solo_ll02_mag_0
time_series.v_solo_ll02_rpwsbm1_0
time_series.v_solo_ll02_rpwsbm1_1
time_series.v_solo_ll02_rpwsbm2_1
time_series.v_solo_ll02_rpwsbm2_2
time_series.v_solo_ll02_rpwtnr_0
time_series.v_solo_ll02_swaeasss_0
time_series.v_solo_ll02_swaeasss_1
time_series.v_solo_ll02_swahisrat_1
time_series.v_solo_ll02_swapasmom_0
time_series.v_solo_ll02_swapasmom_1
time_series.v_solo_ll02_swapasmom_2

In [33]:
table = soar.load_table('soar.v_sc_data_item')
for column in table.columns:
    print(column.name)

begin_time
data_item_id
data_item_oid
data_type
descriptor
end_time
file_format
filename
filepath
filesize
generation_time
icon
insertion_time
instrument
is_active
is_public
level
ll_flag
postcard_item_oid
prop_end
sc_begin_time
sc_end_time
sensor
soop_name
soop_type

In [34]:
table = soar.load_table('soar.v_eui_sc_fits')
for column in table.columns:
    print(column.name)

apid
binning_factor
bit_pixel
blank
bscale
btype
bunit
bzero
c_delt1
c_delt2
c_delt3
checksum
complete_flag
compressed_ratio
creator
cr_pix1
cr_pix2
cr_pix3
cr_val1
cr_val2
cr_val3
ctype1
ctype2
ctype3
cunit1
cunit2
cunit3
data_item_oid
data_max
data_min
datasum
date_average
date_begin
date_end
date_obsv
detector
dimension_index
distance_sun_obsv
elapse_time
eui_fits_oid
eui_parent_id
eui_primary_naxis_oid
eui_wcs_attitude_oid
exposure
extend
filename
file_raw
filter
fits_compress
fits_dataset_oid
fits_date
fits_instrument
hc_inertial_x_obsv
hc_inertial_y_obsv
hc_inertial_z_obsv
h_earth_ex_obsv
h_earth_ey_obsv
h_earth_ez_obsv
hg_latitude_obsv
hg_longitud_obsv
history
index
level
logical_source
num_dimensions
num_pixels_per_axis
observation_mode
observatory
obt_beginning
obt_end
origin
pc1_1
pc1_2
pc1_3
pc2_1
pc2_2
pc2_3
pc3_1
pc3_2
pc3_3
pixel_begin
pixel_end
rsun_arc
simple
soop_name
soop_type
spectral_system
telescope
time_system
total_binning_factor
velocity_system
version_cal
version_item
version_sw
waveband
wavelength
wavemax
wavemin
wcs_name

In [118]:
table = soar.load_table('soar.v_spi_sc_fits')
for column in table.columns:
    print(column.name)

apid
binning_factor
bit_pixel
blank
bscale
btype
bunit
bzero
c_delt1
c_delt2
c_delt3
checksum
complete_flag
compressed_ratio
creator
cr_pix1
cr_pix2
cr_pix3
cr_val1
cr_val2
cr_val3
ctype1
ctype2
ctype3
cunit1
cunit2
cunit3
data_item_oid
data_max
data_min
datasum
date_average
date_begin
date_end
date_obsv
detector
dimension_index
distance_sun_obsv
elapse_time
exposure
extend
filename
file_raw
filter
fits_compress
fits_dataset_oid
fits_date
fits_instrument
hc_inertial_x_obsv
hc_inertial_y_obsv
hc_inertial_z_obsv
h_earth_ex_obsv
h_earth_ey_obsv
h_earth_ez_obsv
hg_latitude_obsv
hg_longitud_obsv
history
index
level
logical_source
num_dimensions
num_pixels_per_axis
observation_mode
observatory
obt_beginning
obt_end
origin
pc1_1
pc1_2
pc1_3
pc2_1
pc2_2
pc2_3
pc3_1
pc3_2
pc3_3
pixel_begin
pixel_end
rsun_arc
simple
soop_name
soop_type
spectral_system
spi_fits_oid
spi_parent_id
spi_primary_naxis_oid
spi_wcs_attitude_oid
telescope
time_system
total_binning_factor
velocity_system
version_cal
version_item
version_sw
waveband
wavelength
wavemax
wavemin
wcs_name

In [128]:
table = soar.load_table('soar.v_spi_sc_fits')
for column in table.columns:
    print(column.name)

apid
binning_factor
bit_pixel
blank
bscale
btype
bunit
bzero
c_delt1
c_delt2
c_delt3
checksum
complete_flag
compressed_ratio
creator
cr_pix1
cr_pix2
cr_pix3
cr_val1
cr_val2
cr_val3
ctype1
ctype2
ctype3
cunit1
cunit2
cunit3
data_item_oid
data_max
data_min
datasum
date_average
date_begin
date_end
date_obsv
detector
dimension_index
distance_sun_obsv
elapse_time
exposure
extend
filename
file_raw
filter
fits_compress
fits_dataset_oid
fits_date
fits_instrument
hc_inertial_x_obsv
hc_inertial_y_obsv
hc_inertial_z_obsv
h_earth_ex_obsv
h_earth_ey_obsv
h_earth_ez_obsv
hg_latitude_obsv
hg_longitud_obsv
history
index
level
logical_source
num_dimensions
num_pixels_per_axis
observation_mode
observatory
obt_beginning
obt_end
origin
pc1_1
pc1_2
pc1_3
pc2_1
pc2_2
pc2_3
pc3_1
pc3_2
pc3_3
pixel_begin
pixel_end
rsun_arc
simple
soop_name
soop_type
spectral_system
spi_fits_oid
spi_parent_id
spi_primary_naxis_oid
spi_wcs_attitude_oid
telescope
time_system
total_binning_factor
velocity_system
version_cal
version_item
version_sw
waveband
wavelength
wavemax
wavemin
wcs_name

In [129]:
table = soar.load_table('soar.v_spice_fov')
for column in table.columns:
    print(column.name)

bepi_pos_lat_deg
bepi_pos_lon_deg
bepi_pos_radius_au
crota
descriptor
earth_pos_lat_deg
earth_pos_lon_deg
earth_pos_radius_au
end_time
filename
fov_earth_bot_left_arcsec_tx
fov_earth_bot_left_arcsec_ty
fov_earth_top_right_arcsec_tx
fov_earth_top_right_arcsec_ty
fov_solo_bot_left_arcsec_tx
fov_solo_bot_left_arcsec_ty
fov_solo_top_right_arcsec_tx
fov_solo_top_right_arcsec_ty
mercury_pos_lat_deg
mercury_pos_lon_deg
mercury_pos_radius_au
proc_level
psp_pos_lat_deg
psp_pos_lon_deg
psp_pos_radius_au
solo_pos_lat_deg
solo_pos_lon_deg
solo_pos_radius_au
soop_name
start_time
stereoa_pos_lat_deg
stereoa_pos_lon_deg
stereoa_pos_radius_au
version
window

In [ ]:
table = soar.load_table('soar.v_phi_sc_fits')
for column in table.columns:
    print(column.name)

In [116]:
eui_query_test = "SELECT TOP 2 data.begin_time, data.descriptor, data.data_item_oid, eui.cr_val1, eui.cr_val2, eui.c_delt1, eui.rsun_arc, eui.num_pixels_per_axis " + \
"FROM soar.v_sc_data_item data INNER JOIN soar.v_eui_sc_fits eui USING (data_item_oid) " + \
"WHERE data.instrument = 'EUI' AND data.level = 'L2' AND data.begin_time>='2022-10-19 19:00:00' AND data.begin_time<='2022-10-19 19:01:00' " + \
"AND data.descriptor='eui-hrieuv174-image' "

In [88]:
results = soar.launch_job_async(eui_query_test)
results.get_results()

2025-02-24 10:59:17 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

<Table length=2>
       begin_time            descriptor     ...  rsun_arc num_pixels_per_axis
         object                str50        ...  float32         int32
----------------------- ------------------- ... --------- -------------------
2022-10-19T19:00:00.165 eui-hrieuv174-image ... 2882.9878                2048
2022-10-19T19:00:00.165 eui-hrieuv174-image ... 2882.9878                2048

In [159]:
spice_query_test = "SELECT TOP 10 data.begin_time, data.descriptor, data.data_item_oid, spi.cr_val1, spi.cr_val2, spi.c_delt1, spi.c_delt2, spi.rsun_arc, spi.num_pixels_per_axis, spi.dimension_index " + \
"FROM soar.v_sc_data_item data INNER JOIN soar.v_spi_sc_fits spi USING (data_item_oid) " + \
"WHERE data.instrument = 'SPICE' AND data.level = 'L2' AND data.begin_time>='2022-10-19 19:00:00' AND data.begin_time<='2022-10-19 19:40:00' " + \
"AND (spi.dimension_index=1 OR spi.dimension_index=2) "

results = soar.launch_job_async(spice_query_test)
test_table = results.get_results().to_pandas()
test_table

2025-02-24 11:48:20 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,cr_val2,c_delt1,c_delt2,rsun_arc,num_pixels_per_axis,dimension_index
0,2022-10-19T19:09:31.857,spice-n-ras,721976,-877.728882,660.177795,6.0,1.098,2881.762695,832,2
1,2022-10-19T19:09:31.857,spice-n-ras,721976,-877.728882,660.177795,6.0,1.098,2881.762695,128,1
2,2022-10-19T19:21:00.858,spice-n-ras,721978,-874.401733,659.334351,6.0,1.098,2881.048340,832,2
3,2022-10-19T19:21:00.858,spice-n-ras,721978,-874.401733,659.334351,6.0,1.098,2881.048340,128,1
4,2022-10-19T19:32:29.859,spice-n-ras,721980,-871.518921,659.078491,6.0,1.098,2880.333740,832,2
5,2022-10-19T19:32:29.859,spice-n-ras,721980,-871.518921,659.078491,6.0,1.098,2880.333740,128,1

In [177]:
results1 = test_table[test_table["dimension_index"] == 1]
results1 = results1[['begin_time', 'descriptor', 'data_item_oid', 'cr_val1', 'c_delt1', 'rsun_arc', 'num_pixels_per_axis']]
results1["pixel_size1"] = results1["c_delt1"]/results1["rsun_arc"]*const.R_sun.to_value(u.km)
results1["fov1"] = results1["num_pixels_per_axis"]*results1["pixel_size1"]/1e3
results1.drop("num_pixels_per_axis", axis=1, inplace=True)

results2 = test_table[test_table["dimension_index"] == 2]
results2 = results2[['data_item_oid', 'cr_val2', 'c_delt2', 'rsun_arc', 'num_pixels_per_axis']]
results2["pixel_size2"] = results2["c_delt2"]/results2["rsun_arc"]*const.R_sun.to_value(u.km)
results2["fov2"] = results2["num_pixels_per_axis"]*results2["pixel_size2"]/1e3
results2.drop(["num_pixels_per_axis", "rsun_arc"], axis=1, inplace=True)

results_final = pd.merge(results1, results2, on="data_item_oid", how="inner")
results_final

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-19T19:09:31.857,spice-n-ras,721976,-877.728882,6.0,2881.762695,1448.488403,185.406516,660.177795,1.098,265.073395,220.541064
1,2022-10-19T19:21:00.858,spice-n-ras,721978,-874.401733,6.0,2881.048340,1448.847656,185.452500,659.334351,1.098,265.139130,220.595756
2,2022-10-19T19:32:29.859,spice-n-ras,721980,-871.518921,6.0,2880.333740,1449.207153,185.498516,659.078491,1.098,265.204895,220.650473

In [204]:
def eui_fsi_query(start_time, end_time,):
    eui_query = "SELECT data.begin_time, data.descriptor, data.data_item_oid, eui.cr_val1, eui.cr_val2, eui.c_delt1, eui.c_delt2, eui.rsun_arc, eui.num_pixels_per_axis, eui.dimension_index " + \
    "FROM soar.v_sc_data_item data INNER JOIN soar.v_eui_sc_fits eui ON data.data_item_oid = eui.data_item_oid " + \
    f"WHERE data.instrument = 'EUI' AND data.level = 'L2' AND data.begin_time>='{start_time}' AND data.begin_time<='{end_time}' " + \
    "AND (data.descriptor='eui-fsi174-image' OR data.descriptor='eui-fsi304-image') " + \
    "ORDER BY data.begin_time ASC"

    results = soar.launch_job_async(eui_query)
    results = results.get_results().to_pandas()

    results1 = results[results["dimension_index"] == 1]
    results1 = results1[['begin_time', 'descriptor', 'data_item_oid', 'cr_val1', 'c_delt1', 'rsun_arc', 'num_pixels_per_axis']]
    results1["pixel_size1"] = results1["c_delt1"]/results1["rsun_arc"]*const.R_sun.to_value(u.km)
    results1["fov1"] = results1["num_pixels_per_axis"]*results1["pixel_size1"]/1e3
    results1.drop("num_pixels_per_axis", axis=1, inplace=True)

    results2 = results[results["dimension_index"] == 2]
    results2 = results2[['data_item_oid', 'cr_val2', 'c_delt2', 'rsun_arc', 'num_pixels_per_axis']]
    results2["pixel_size2"] = results2["c_delt2"]/results2["rsun_arc"]*const.R_sun.to_value(u.km)
    results2["fov2"] = results2["num_pixels_per_axis"]*results2["pixel_size2"]/1e3
    results2.drop(["num_pixels_per_axis", "rsun_arc"], axis=1, inplace=True)

    results_final = pd.merge(results1, results2, on="data_item_oid", how="inner")
    return results_final

In [205]:
def eui_hrieuv_query(start_time, end_time,):
    eui_query = "SELECT TOP 4 data.begin_time, data.descriptor, data.data_item_oid, eui.cr_val1, eui.cr_val2, eui.c_delt1, eui.c_delt2, eui.rsun_arc, eui.num_pixels_per_axis, eui.dimension_index " + \
    "FROM soar.v_sc_data_item data INNER JOIN soar.v_eui_sc_fits eui ON data.data_item_oid = eui.data_item_oid " + \
    f"WHERE data.instrument = 'EUI' AND data.level = 'L2' AND data.begin_time>='{start_time}' AND data.begin_time<='{end_time}' " + \
    "AND data.descriptor='eui-hrieuv174-image' " + \
    "ORDER BY data.begin_time ASC"

    results = soar.launch_job_async(eui_query)
    results = results.get_results().to_pandas()

    results1 = results[results["dimension_index"] == 1]
    results1 = results1[['begin_time', 'descriptor', 'data_item_oid', 'cr_val1', 'c_delt1', 'rsun_arc', 'num_pixels_per_axis']]
    results1["pixel_size1"] = results1["c_delt1"]/results1["rsun_arc"]*const.R_sun.to_value(u.km)
    results1["fov1"] = results1["num_pixels_per_axis"]*results1["pixel_size1"]/1e3
    results1.drop("num_pixels_per_axis", axis=1, inplace=True)

    results2 = results[results["dimension_index"] == 2]
    results2 = results2[['data_item_oid', 'cr_val2', 'c_delt2', 'rsun_arc', 'num_pixels_per_axis']]
    results2["pixel_size2"] = results2["c_delt2"]/results2["rsun_arc"]*const.R_sun.to_value(u.km)
    results2["fov2"] = results2["num_pixels_per_axis"]*results2["pixel_size2"]/1e3
    results2.drop(["num_pixels_per_axis", "rsun_arc"], axis=1, inplace=True)

    results_final = pd.merge(results1, results2, on="data_item_oid", how="inner")
    return results_final

In [206]:
def eui_hrilya_query(start_time, end_time):
    eui_query = "SELECT TOP 4 data.begin_time, data.descriptor, data.data_item_oid, eui.cr_val1, eui.cr_val2, eui.c_delt1, eui.c_delt2, eui.rsun_arc, eui.num_pixels_per_axis, eui.dimension_index " + \
    "FROM soar.v_sc_data_item data INNER JOIN soar.v_eui_sc_fits eui ON data.data_item_oid = eui.data_item_oid " + \
    f"WHERE data.instrument = 'EUI' AND data.level = 'L2' AND data.begin_time>='{start_time}' AND data.begin_time<='{end_time}' " + \
    "AND data.descriptor='eui-hrilya1216-image' " + \
    "ORDER BY data.begin_time ASC"

    results = soar.launch_job_async(eui_query)
    results = results.get_results().to_pandas()

    results1 = results[results["dimension_index"] == 1]
    results1 = results1[['begin_time', 'descriptor', 'data_item_oid', 'cr_val1', 'c_delt1', 'rsun_arc', 'num_pixels_per_axis']]
    results1["pixel_size1"] = results1["c_delt1"]/results1["rsun_arc"]*const.R_sun.to_value(u.km)
    results1["fov1"] = results1["num_pixels_per_axis"]*results1["pixel_size1"]/1e3
    results1.drop("num_pixels_per_axis", axis=1, inplace=True)

    results2 = results[results["dimension_index"] == 2]
    results2 = results2[['data_item_oid', 'cr_val2', 'c_delt2', 'rsun_arc', 'num_pixels_per_axis']]
    results2["pixel_size2"] = results2["c_delt2"]/results2["rsun_arc"]*const.R_sun.to_value(u.km)
    results2["fov2"] = results2["num_pixels_per_axis"]*results2["pixel_size2"]/1e3
    results2.drop(["num_pixels_per_axis", "rsun_arc"], axis=1, inplace=True)

    results_final = pd.merge(results1, results2, on="data_item_oid", how="inner")
    return results_final

In [207]:
def spice_query(start_time, end_time):
    spice_query = "SELECT data.begin_time, data.descriptor, data.data_item_oid, spi.cr_val1, spi.cr_val2, spi.c_delt1, spi.c_delt2, spi.rsun_arc, spi.num_pixels_per_axis, spi.dimension_index " + \
    "FROM soar.v_sc_data_item data INNER JOIN soar.v_spi_sc_fits spi ON data.data_item_oid = spi.data_item_oid " + \
    f"WHERE data.instrument = 'SPICE' AND data.level = 'L2' AND data.begin_time>='{start_time}' AND data.begin_time<='{end_time}' " + \
    "AND (spi.dimension_index=1 OR spi.dimension_index=2) " + \
    "ORDER BY data.begin_time ASC"

    results = soar.launch_job_async(spice_query)
    results = results.get_results().to_pandas()

    results1 = results[results["dimension_index"] == 1]
    results1 = results1[['begin_time', 'descriptor', 'data_item_oid', 'cr_val1', 'c_delt1', 'rsun_arc', 'num_pixels_per_axis']]
    results1["pixel_size1"] = results1["c_delt1"]/results1["rsun_arc"]*const.R_sun.to_value(u.km)
    results1["fov1"] = results1["num_pixels_per_axis"]*results1["pixel_size1"]/1e3
    results1.drop("num_pixels_per_axis", axis=1, inplace=True)

    results2 = results[results["dimension_index"] == 2]
    results2 = results2[['data_item_oid', 'cr_val2', 'c_delt2', 'rsun_arc', 'num_pixels_per_axis']]
    results2["pixel_size2"] = results2["c_delt2"]/results2["rsun_arc"]*const.R_sun.to_value(u.km)
    results2["fov2"] = results2["num_pixels_per_axis"]*results2["pixel_size2"]/1e3
    results2.drop(["num_pixels_per_axis", "rsun_arc"], axis=1, inplace=True)

    results_final = pd.merge(results1, results2, on="data_item_oid", how="inner")
    return results_final

In [216]:
def phi_query(start_time, end_time):
    phi_query = "SELECT data.begin_time, data.descriptor, data.data_item_oid, phi.cr_val1, phi.cr_val2, phi.c_delt1, phi.c_delt2, phi.rsun_arc, phi.num_pixels_per_axis, phi.dimension_index " + \
    "FROM soar.v_sc_data_item data INNER JOIN soar.v_phi_sc_fits phi ON data.data_item_oid = phi.data_item_oid " + \
    f"WHERE data.instrument = 'PHI' AND data.level = 'L2' AND data.begin_time>='{start_time}' AND data.begin_time<='{end_time}' " + \
    "AND descriptor='phi-hrt-blos' " + \
    "ORDER BY data.begin_time ASC"

    results = soar.launch_job_async(phi_query)
    results = results.get_results().to_pandas()

    results1 = results[results["dimension_index"] == 1]
    results1 = results1[['begin_time', 'descriptor', 'data_item_oid', 'cr_val1', 'c_delt1', 'rsun_arc', 'num_pixels_per_axis']]
    results1["pixel_size1"] = results1["c_delt1"]/results1["rsun_arc"]*const.R_sun.to_value(u.km)
    results1["fov1"] = results1["num_pixels_per_axis"]*results1["pixel_size1"]/1e3
    results1.drop("num_pixels_per_axis", axis=1, inplace=True)

    results2 = results[results["dimension_index"] == 2]
    results2 = results2[['data_item_oid', 'cr_val2', 'c_delt2', 'rsun_arc', 'num_pixels_per_axis']]
    results2["pixel_size2"] = results2["c_delt2"]/results2["rsun_arc"]*const.R_sun.to_value(u.km)
    results2["fov2"] = results2["num_pixels_per_axis"]*results2["pixel_size2"]/1e3
    results2.drop(["num_pixels_per_axis", "rsun_arc"], axis=1, inplace=True)

    results_final = pd.merge(results1, results2, on="data_item_oid", how="inner")
    return results_final

In [208]:
eui_fsi_query("2022-10-18 19:00:00", "2022-10-18 19:32:00")

2025-02-24 12:17:10 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-18T19:00:15.26,eui-fsi304-image,1089408,-1186.973145,4.440125,2970.892090,1039.753174,3160.849648,915.996704,4.440125,1039.753174,3194.121750
1,2022-10-18T19:00:45.26,eui-fsi174-image,1089475,-1187.657227,4.440125,2970.862305,1039.763672,3160.881563,915.804810,4.440125,1039.763672,3194.154000
2,2022-10-18T19:10:45.261,eui-fsi174-image,1089474,-1185.168579,4.440125,2970.266357,1039.972290,3161.515762,914.511292,4.440125,1039.972290,3194.794875
3,2022-10-18T19:20:15.262,eui-fsi304-image,1089407,-1181.142212,4.440125,2969.699707,1040.170654,3162.118789,914.826843,4.440125,1040.170654,3195.404250
4,2022-10-18T19:20:45.262,eui-fsi174-image,1089473,-1181.947144,4.440125,2969.669922,1040.181152,3162.150703,914.378113,4.440125,1040.181152,3195.436500
5,2022-10-18T19:30:45.263,eui-fsi174-image,1089452,-1180.037231,4.440125,2969.073242,1040.390137,3162.786016,913.646729,4.440125,1040.390137,3196.078500

In [209]:
spice_query("2022-10-18 19:00:00", "2022-10-18 19:32:00")

2025-02-24 12:17:13 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-18T19:01:33.7,spice-n-ras,721578,-1256.215698,6.0,2970.174072,1405.372192,179.887641,747.768677,1.098,257.183105,213.976344
1,2022-10-18T19:13:02.702,spice-n-ras,721583,-1253.165771,6.0,2969.489502,1405.696167,179.929109,747.271790,1.098,257.242432,214.025703
2,2022-10-18T19:24:31.703,spice-n-ras,721588,-1250.827515,6.0,2968.804688,1406.020386,179.970609,746.468262,1.098,257.301758,214.075063

In [217]:
phi_query("2022-10-18 19:00:00", "2022-10-18 19:32:00")

2025-02-24 12:20:26 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-18T19:15:03.37,phi-hrt-blos,1281396,-1264.503052,0.5,2969.152588,117.154633,239.932687,791.31012,0.5,117.154633,239.932687

In [218]:
eui_fsi_query("2022-10-19 19:00:00", "2022-10-19 19:32:00")

2025-02-24 12:25:39 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-19T19:00:20.398,eui-fsi304-image,1088906,-808.847412,4.440125,2882.962402,1071.465454,3257.254980,826.153748,4.440125,1071.465454,3291.541875
1,2022-10-19T19:00:50.289,eui-fsi174-image,1088978,-811.977600,4.440125,2882.931396,1071.476929,3257.289863,826.466858,4.440125,1071.476929,3291.577125
2,2022-10-19T19:10:50.29,eui-fsi174-image,1088977,-808.850769,4.440125,2882.309326,1071.708252,3257.993086,825.743896,4.440125,1071.708252,3292.287750
3,2022-10-19T19:20:20.291,eui-fsi304-image,1106344,-805.714233,4.440125,2881.718262,1071.928101,3258.661426,826.224670,4.440125,1071.928101,3292.963125
4,2022-10-19T19:20:50.291,eui-fsi174-image,1088976,-806.656555,4.440125,2881.687012,1071.939697,3258.696680,825.010864,4.440125,1071.939697,3292.998750
5,2022-10-19T19:30:50.292,eui-fsi174-image,1088975,-803.011230,4.440125,2881.064697,1072.171143,3259.400273,824.052551,4.440125,1072.171143,3293.709750

In [210]:
eui_hrieuv_query("2022-10-19 19:00:00", "2022-10-19 19:01:00")

2025-02-24 12:17:34 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-19T19:00:00.165,eui-hrieuv174-image,1088896,-1060.283691,0.492,2882.987793,118.725578,243.149984,784.448486,0.492,118.725578,243.149984
1,2022-10-19T19:00:05.159,eui-hrieuv174-image,1088895,-1060.155640,0.492,2882.982666,118.725792,243.150422,784.608093,0.492,118.725792,243.150422

In [211]:
eui_hrilya_query("2022-10-19 19:00:00", "2022-10-19 19:01:00")

2025-02-24 12:17:54 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-19T19:00:00.159,eui-hrilya1216-image,1088274,-969.471436,1.028,2882.988037,248.068863,254.022516,823.957947,1.028,248.068863,254.022516
1,2022-10-19T19:00:30.159,eui-hrilya1216-image,1088273,-967.972473,1.028,2882.957031,248.071548,254.025266,824.245056,1.028,248.071548,254.025266

In [220]:
spice_query("2022-10-19 18:50:00", "2022-10-19 19:32:00")

2025-02-24 12:43:08 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-19T18:58:02.856,spice-n-ras,721974,-881.135986,6.0,2882.476807,1448.129639,185.360594,660.713684,1.098,265.007721,220.486424
1,2022-10-19T19:09:31.857,spice-n-ras,721976,-877.728882,6.0,2881.762695,1448.488403,185.406516,660.177795,1.098,265.073395,220.541064
2,2022-10-19T19:21:00.858,spice-n-ras,721978,-874.401733,6.0,2881.048340,1448.847656,185.452500,659.334351,1.098,265.139130,220.595756

In [221]:
phi_query("2022-10-19 18:50:00", "2022-10-19 19:32:00")

2025-02-24 12:44:09 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-19T19:15:03.093,phi-hrt-blos,1281421,-888.88562,0.5,2881.212646,120.730408,247.255875,703.899475,0.5,120.730408,247.255875

In [222]:
eui_fsi_query("2022-10-20 19:00:00", "2022-10-20 19:32:00")

2025-02-24 12:45:28 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-20T19:00:20.419,eui-fsi304-image,1087976,-388.843933,4.440125,2792.545898,1106.157227,3362.717969,788.261597,4.440125,1106.157227,3398.115000
1,2022-10-20T19:00:50.196,eui-fsi174-image,1088056,-387.887604,4.440125,2792.514648,1106.169556,3362.755449,789.281677,4.440125,1106.169556,3398.152875
2,2022-10-20T19:10:50.197,eui-fsi174-image,1088055,-385.966614,4.440125,2791.883301,1106.419678,3363.515820,788.643921,4.440125,1106.419678,3398.921250
3,2022-10-20T19:20:20.198,eui-fsi304-image,1087975,-384.503479,4.440125,2791.283691,1106.657349,3364.238340,787.684387,4.440125,1106.657349,3399.651375
4,2022-10-20T19:20:50.198,eui-fsi174-image,1088043,-383.705048,4.440125,2791.252197,1106.669800,3364.276191,787.938599,4.440125,1106.669800,3399.689625
5,2022-10-20T19:30:50.199,eui-fsi174-image,1088054,-379.424316,4.440125,2790.620850,1106.920166,3365.037305,787.385437,4.440125,1106.920166,3400.458750

In [223]:
eui_hrieuv_query("2022-10-20 19:00:00", "2022-10-20 19:01:00")

2025-02-24 12:47:02 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-20T19:00:00.196,eui-hrieuv174-image,1087964,-636.714294,0.492,2792.571533,122.569618,251.022578,750.021606,0.492,122.569618,251.022578
1,2022-10-20T19:00:05.19,eui-hrieuv174-image,1087963,-636.614929,0.492,2792.566406,122.569839,251.023031,749.898987,0.492,122.569839,251.023031

In [224]:
eui_hrilya_query("2022-10-20 19:00:00", "2022-10-20 19:01:00")

2025-02-24 12:47:36 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-20T19:00:00.19,eui-hrilya1216-image,1087367,-545.602112,1.028,2792.572021,256.100677,262.247094,788.896301,1.028,256.100677,262.247094
1,2022-10-20T19:00:30.19,eui-hrilya1216-image,1087366,-545.254639,1.028,2792.540283,256.103607,262.250094,788.610352,1.028,256.103607,262.250094

In [225]:
spice_query("2022-10-20 18:50:00", "2022-10-20 19:32:00")

2025-02-24 12:47:39 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-20T18:55:05.011,spice-n-ras,721580,-455.844574,6.0,2792.270020,1494.912720,191.348828,619.846252,1.098,273.569031,227.609434
1,2022-10-20T19:06:34.012,spice-n-ras,721585,-453.196106,6.0,2791.545410,1495.300659,191.398484,619.045593,1.098,273.640045,227.668518
2,2022-10-20T19:18:03.013,spice-n-ras,721590,-449.663818,6.0,2790.820801,1495.688965,191.448187,618.550903,1.098,273.711090,227.727627
3,2022-10-20T19:29:32.014,spice-n-ras,721594,-446.319855,6.0,2790.096191,1496.077393,191.497906,618.983093,1.098,273.782196,227.786787

In [226]:
phi_query("2022-10-20 18:50:00", "2022-10-20 19:32:00")

2025-02-24 12:47:40 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-20T19:15:02.891,phi-hrt-blos,1281443,-463.603394,0.5,2790.807617,124.641342,255.265469,663.375916,0.5,124.641342,255.265469

In [227]:
eui_fsi_query("2022-10-21 19:00:00", "2022-10-21 19:32:00")

2025-02-24 12:49:46 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-21T19:00:20.228,eui-fsi304-image,1087075,20.706488,4.440125,2701.808350,1143.306396,3475.651445,729.795105,4.440125,1143.306396,3512.237250
1,2022-10-21T19:00:50.226,eui-fsi174-image,1087155,21.161598,4.440125,2701.777100,1143.319580,3475.691523,729.598633,4.440125,1143.319580,3512.277750
2,2022-10-21T19:10:50.227,eui-fsi174-image,1087154,22.727648,4.440125,2701.149902,1143.585083,3476.498652,728.978455,4.440125,1143.585083,3513.093375
3,2022-10-21T19:20:20.228,eui-fsi304-image,1087074,26.585903,4.440125,2700.554199,1143.837280,3477.265332,728.621948,4.440125,1143.837280,3513.868125
4,2022-10-21T19:20:50.229,eui-fsi174-image,1087153,26.042501,4.440125,2700.522949,1143.850586,3477.305781,728.436768,4.440125,1143.850586,3513.909000
5,2022-10-21T19:30:50.229,eui-fsi174-image,1087152,30.042654,4.440125,2699.895996,1144.116211,3478.113281,728.603760,4.440125,1144.116211,3514.725000

In [228]:
eui_hrieuv_query("2022-10-21 19:00:00", "2022-10-21 19:01:00")

2025-02-24 12:51:16 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-21T19:00:00.226,eui-hrieuv174-image,1087063,-227.860580,0.492,2701.833740,126.685959,259.452844,691.236816,0.492,126.685959,259.452844
1,2022-10-21T19:00:05.22,eui-hrieuv174-image,1087051,-228.191818,0.492,2701.828613,126.686203,259.453344,691.084595,0.492,126.686203,259.453344

In [229]:
eui_hrilya_query("2022-10-21 19:00:00", "2022-10-21 19:01:00")

2025-02-24 12:51:36 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-21T19:00:00.22,eui-hrilya1216-image,1086412,-136.455948,1.028,2701.833984,264.701538,271.054375,729.398743,1.028,264.701538,271.054375
1,2022-10-21T19:00:30.239,eui-hrilya1216-image,1086432,-136.433746,1.028,2701.802734,264.704590,271.057500,729.556213,1.028,264.704590,271.057500

In [230]:
spice_query("2022-10-21 18:50:00", "2022-10-21 19:32:00")

2025-02-24 12:51:40 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-21T18:50:05.166,spice-n-ras,721964,-49.589516,6.0,2701.869873,1544.930054,197.751047,566.907227,1.098,282.722229,235.224895
1,2022-10-21T19:01:34.167,spice-n-ras,721967,-45.895542,6.0,2701.149902,1545.341919,197.803766,566.674011,1.098,282.797577,235.287584
2,2022-10-21T19:13:03.168,spice-n-ras,721970,-42.129623,6.0,2700.430176,1545.753662,197.856469,566.119995,1.098,282.872955,235.350299
3,2022-10-21T19:24:32.169,spice-n-ras,721973,-39.111843,6.0,2699.710449,1546.165771,197.909219,565.862427,1.098,282.948364,235.413039

In [231]:
phi_query("2022-10-21 18:50:00", "2022-10-21 19:32:00")

2025-02-24 12:51:40 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-21T19:15:03.019,phi-hrt-blos,1281469,-56.943451,0.5,2700.10083,128.828522,263.840813,609.841125,0.5,128.828522,263.840813

In [232]:
eui_fsi_query("2022-10-24 19:00:00", "2022-10-24 19:32:00")

2025-02-24 12:56:25 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-24T19:00:20.179,eui-fsi304-image,1085055,1131.307251,4.440125,2441.895264,1264.998779,3845.596289,641.748779,4.440125,1264.998779,3886.076250
1,2022-10-24T19:00:50.195,eui-fsi174-image,1085135,1134.139404,4.440125,2441.866943,1265.013550,3845.641191,641.149963,4.440125,1265.013550,3886.121625
2,2022-10-24T19:10:50.177,eui-fsi174-image,1085134,1136.364380,4.440125,2441.299072,1265.307739,3846.535527,641.323120,4.440125,1265.307739,3887.025375
3,2022-10-24T19:20:20.179,eui-fsi304-image,1085054,1135.149170,4.440125,2440.760010,1265.587280,3847.385332,640.895325,4.440125,1265.587280,3887.884125
4,2022-10-24T19:20:50.179,eui-fsi174-image,1085133,1137.722656,4.440125,2440.731689,1265.601929,3847.429863,640.566589,4.440125,1265.601929,3887.929125
5,2022-10-24T19:30:50.174,eui-fsi174-image,1085130,1140.289429,4.440125,2440.164307,1265.896118,3848.324199,640.020630,4.440125,1265.896118,3888.832875

In [233]:
eui_hrieuv_query("2022-10-24 19:00:00", "2022-10-24 19:01:00")

2025-02-24 12:56:54 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-24T19:00:00.171,eui-hrieuv174-image,1085042,884.248596,0.492,2441.918213,140.170303,287.068781,608.873596,0.492,140.170303,287.068781
1,2022-10-24T19:00:05.171,eui-hrieuv174-image,1085041,884.295044,0.492,2441.913330,140.170578,287.069344,608.979370,0.492,140.170578,287.069344

In [234]:
eui_hrilya_query("2022-10-24 19:00:00", "2022-10-24 19:01:00")

2025-02-24 12:56:54 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

Empty DataFrame
Columns: [begin_time, descriptor, data_item_oid, cr_val1, c_delt1, rsun_arc, pixel_size1, fov1, cr_val2, c_delt2, pixel_size2, fov2]
Index: []

In [235]:
spice_query("2022-10-24 18:50:00", "2022-10-24 19:32:00")

2025-02-24 12:56:57 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-24T18:50:05.617,spice-n-ras,721591,1068.323120,6.0,2441.989258,1709.344238,218.796063,476.961334,1.098,312.809998,260.257918
1,2022-10-24T19:01:34.618,spice-n-ras,721596,1069.873047,6.0,2441.337402,1709.800537,218.854469,476.167175,1.098,312.893524,260.327412
2,2022-10-24T19:13:03.619,spice-n-ras,721601,1073.013428,6.0,2440.685791,1710.256958,218.912891,476.425964,1.098,312.977051,260.396906
3,2022-10-24T19:24:32.619,spice-n-ras,721604,1075.016724,6.0,2440.034424,1710.713623,218.971344,476.014465,1.098,313.060608,260.466426

In [236]:
phi_query("2022-10-24 18:50:00", "2022-10-24 19:32:00")

2025-02-24 12:56:58 - astroquery - INFO: Query finished.

INFO: Query finished. [astroquery.utils.tap.core]

,begin_time,descriptor,data_item_oid,cr_val1,c_delt1,rsun_arc,pixel_size1,fov1,cr_val2,c_delt2,pixel_size2,fov2
0,2022-10-24T19:15:03.248,phi-hrt-blos,1281537,1069.275024,0.5,2440.37915,142.539322,218.940398,520.781006,0.5,142.539322,218.940398